*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--main_dark_color);
}

/* __________ GLOBAL COLORS __________ */
:root{
    --main_dark_color: #23272a;
    --light_gray_bg: #f6f6f6;
    --main_violet: #8ea1e1;
    --text_violet: #7289da;
}
/* __________ END GLOBAL COLORS __________ */



/* __________ COMMON STYLES __________ */
.container{
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

hr{
    color: var(--text_violet);
}

p{
    line-height: 30px;
    font-weight: 500;

    margin: 1rem 0;
}

.logo{
    cursor: pointer;
}

button{
    border-radius: 30px;
    border: transparent;
    background-color: white;
    padding: 8px 15px;
    cursor: pointer;
}
.big_btn{
    margin: 0 10px;
    padding: 15px 30px;
    font-size: 1rem;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gray_bg{
    background-color: var(--light_gray_bg);
}

h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}

.float{
    float: left;
}

.dark_bg {
    background-color: var(--main_dark_color);
    color: white;
}

img{
    max-width: 100%;
}


i{
    margin-right: 5px;
}
/* __________ END COMMON STYLES __________ */



/* __________ HEADER __________ */
header{
    background-color: #3161e0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

header a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    margin: 0 15px;
}
/* __________ END HEADER __________ */



/* __________ MAIN __________ */

/* ------------ HERO SECTION ------------ */
.hero{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    height: 70vh;

    position: relative;
}

.hero .content_wrapper{
    text-align: center;
    color: white;
    width: 40%;
    max-width: 650px;
}

.hero .content_wrapper p{
    margin: 2rem 0;
}

/* ------------ HERO SECTION ------------ */


/* ------------ INFO SECTIONS ------------ */
.info_section{
    padding: 10vh 0;
}

.info_section .col_left{
    width: 60%;
}

.info_section .col_right{
    width: 40%;
    padding-top: 2rem;
    padding-left: 10%;
}

#second_info_section .col_right{
    padding-top: 2rem;
    padding-left: 0;
    padding-right: 10%;
}
/* ------------ END INFO SECTIONS ------------ */


/* ------------ AFFIDABILITA' SECTION ------------ */
.affidabilita_section{
    padding: 15vh 0 10vh 0;
    text-align: center;
}

.affidabilita_section h3{
    margin-bottom: 2rem;
}

.affidabilita_section button{
    background-color: var(--main_violet);
    color: white;
}

.stars{
    max-width: 45%;
}
/* ------------ END AFFIDABILITA' SECTION -------- */


/* __________ END MAIN __________ */



/* __________ FOOTER __________ */
footer{
    background-color: var(--main_dark_color);
    padding: 5vh;
    color: white;
}

footer h3,
footer h4{
    color: var(--text_violet);
}

/* ------------ RESOURCES SECTION ------------ */
footer .socials{
    width: calc((100% / 6) * 2);
}
footer .socials i{
    margin-right: .75rem;
    font-size: 1.25rem;
}
footer .socials img{
    width: 20px;
}
footer .lenguage_selection{
    margin: 1rem 0;
}

footer .lenguage_selection i{
    vertical-align: middle;
}

footer .resources{
    width: calc(100% / 6);
}

footer .resources li{
    margin: 5px 0;
    text-transform: capitalize;
}

footer .resources ul{
    list-style: none;
}
/* ------------ END RESOURCES SECTION ------------ */


/* ------------ SIGN IN SECTION ------------ */
footer hr{
    margin-top: 1.5rem;
}

.sign_in_section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1.5rem;
}

.sign_in_section button{
    background-color: var(--main_violet);
    color: white;
}
/* ------------ SIGN IN SECTION ---------- */


/* __________ END FOOTER __________ */